:root {
  --principal-color: #21209c;
  --secondary-color: #5463ff;
}

body {
  background: var(--principal-color);
  background: linear-gradient(to right,
      var(--principal-color),
      var(--secondary-color));
}

.separator-bottom {
  margin-bottom: 0.5rem;
}
