.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
  /* position: absolute; */
}
.estilo_div{
  height: 430px;
  overflow-y: scroll;
}
.estilo_div1{
  height: 120px;
  overflow-y: scroll;
}
.prueba hr{
  color: white;
}

.prueba .icono{
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

/* .prueba .icono_1 {
  width: 30px;
  height: 30px;
  margin-left: -57px;
  margin-right: 25px;
} */

.prueba {
  background-color: #C82E2E;
}

 .prueba button{
  padding-right: 60px;
}

.prueba .dropdown-menu button {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  text-align: left;
  background-color: #db3939;
  width: 150px;
  border: 0;
}

.prueba .dropdown-menu li{
  background-color: #db3939;
    width: 160px;
}

.prueba .dropdown-menu {
  background-color: #db3939;

}

 .nav-item button{
  width: 250px;
  background-color: gray;
}

.usuario {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
  /* position: absolute; */
}

.carusel{
  background-color: black;
  width: 65%;
  height: 65%;
  position: absolute;
  right: 85px;
  margin-top: 50px;
}

 .carusel img{
  height: 427px;
  width: 1000px;
}

/* .hospital{
  display: flex;
  align-items: center;
} */

footer {
  position: absolute;
  bottom: 0;
  left: 280px;
  width: 79%;
}

.section{
  position: absolute;
  top: 40px;
  right: 280px;;
  width: 38%;
  background-color: #ededed;
}

.section input{
  width: 250px;
  height: 35px;
  margin: 0;
}

.doctor {
  width: 100px;
  height: 100px;
  background-color: grey;
}

.eliminar {
  position: absolute;
  top: 150px;
  right: 240px;
  width: 40%;
  background-color: #ededed;
}

.eliminar input {
  position: relative;
  left: 115px;
}

.eliminar button{
  position: relative;
  left: 125px;
}
.head1{
  background: linear-gradient(#ed5c5c, #db3939);
  color: white;
}

.information{
  background-color: white;
  width: 75%;
  height: 75%;
  position: absolute;
  right: 85px;
  margin-top: 50px;
}

.sectioncrear{
  position: absolute;
  top: 5px;
  right: 160px;
  width: 55%;
  padding-bottom: 5px;
  background-color: #ededed;
}

.sectioncrear .imagen{
  background-color: darkgrey;
}

.sectioncrear input{
  width: 315px;
}
.sectioncrear select {
  width: 315px;
}

